---
layout: simple
title: Nathan Cavaglione
---

<table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody>
            <tr style="padding:0px">
              <td style="padding:2.5%;width:63%;vertical-align:middle">
                <p style="text-align:center">
                  <name>Nathan Cavaglione</name>
                </p>
                <p>I'm a Senior AI Engineer at Google Cloud Consulting in London UK, where I build custom GenAI products for enterprise clients.</p>
                
                <p>Previously, I co-founded and served as CTO of <a href="https://www.fairgen.ai/" target="_blank">Fairgen</a>, where I led the company from inception through <a href="https://techcrunch.com/2024/05/09/fairgen-boosts-survey-results-using-synthetic-data-and-ai-generated-responses/" target="_blank">$8M in funding</a>, developing synthetic data augmentation solutions to prevent biases in ML models and traditional polls. Our work was presented at <a href="https://neurips.cc/virtual/2022/58645" target="_blank">NeurIPS 2022</a>.</p>
                
                <p>At Datagen, I was a founding AI engineer generating synthetic 3D faces and houses for AI robotics training. My work was featured in <a href="https://www.technologyreview.com/2021/06/11/1026135/ai-synthetic-data/" target="_blank">MIT Technology Review</a> and presented at the <a href="https://drive.google.com/file/d/1jrnBZyv1U7LkTid7GsCQ4-rnxbH7_npQ/view" target="_blank">Israel Machine Vision Conference</a>.</p>
                
                <p>I did my Master's at Imperial College London, where I was advised by Dr. Tae-Kyun Kim at the <a href="https://labicvl.github.io/" target="_blank">Computer Vision & Learning Lab</a>. My thesis explored using <a href="https://drive.google.com/file/d/1p0EXpKkNj7iUvNyPgUu-JIaNtXVB4AgL/view?usp=sharing" target="_blank">VAE and RNNs for hand action recognition</a>. I received the Maurice Hancock Scholarship for academic merit.</p>

                <p>Grew up in <a href="https://en.wikipedia.org/wiki/Nice" target="_blank">Nice, France</a>.</p>
                <p style="text-align:center">
                  <a href="mailto:nathan.cavaglione@gmail.com">Email</a> &nbsp/&nbsp
                  <a href="https://github.com/ncvgl" target="_blank">GitHub</a> &nbsp/&nbsp
                  <a href="https://linkedin.com/in/nathancavaglione" target="_blank">LinkedIn</a> &nbsp/&nbsp
                  <a href="https://docs.google.com/document/d/1-Nnomn8dNqHQrv0rN6ZjPYtP97tLkIwyn4kBgYCo_rk/edit?usp=sharing" target="_blank">CV</a>
                </p>
              </td>
              <td style="padding:2.5%;width:40%;max-width:40%">
                <img style="width:100%;max-width:100%" alt="profile photo" src="assets/images/photo.jpg">
              </td>
            </tr>
          </tbody>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody>
            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <heading>Articles</heading>
              </td>
            </tr>
          </tbody>
        </table>

        {% assign posts = site.posts | sort: 'date' | reverse %}
        {% for post in posts %}
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody>
            <tr>
              <td style="padding:20px;width:25%;vertical-align:middle">
                {% if post.image %}
                  <img src="{{ post.image }}" width="160px" alt="{{ post.title }}">
                {% else %}
                  <img src="https://via.placeholder.com/160x160/4A90E2/FFFFFF?text={{ post.title | slice: 0, 3 | upcase }}" width="160px" alt="{{ post.title }}">
                {% endif %}
              </td>
              <td style="padding:20px;width:75%;vertical-align:middle">
                {% if post.external_url %}
                <a href="{{ post.external_url }}" target="_blank">
                  <papertitle>{{ post.title }}</papertitle>
                </a>
                {% else %}
                <a href="{{ post.url }}">
                  <papertitle>{{ post.title }}</papertitle>
                </a>
                {% endif %}
                <br><em>{{ post.date | date: "%B %Y" }}</em>
                <p></p>
                <p>{{ post.description }}</p>
              </td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding:0px">
        <br>
        <p style="text-align:center;font-size:small;">
          Design and source code from <a style="font-size:small;" href="https://github.com/leonidk/leonidk.github.io">leonidk</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>